.marketplace{

    display:grid;

    grid-template-columns:280px 1fr;

    gap:30px;

    padding:40px 60px;
}

.filters{

    background:#1F2937;

    padding:25px;

    border-radius:12px;

    height:fit-content;
}

.filters h2{

    margin-bottom:25px;
}

.filters h3{

    margin:25px 0 10px;
}

.filters label{

    display:block;

    margin:8px 0;

    cursor:pointer;
}

.results h2{

    margin-bottom:30px;
}

.card{

    display: block;

    background:#1F2937;

    border-radius:12px;

    padding:20px;

    text-align:center;

    transition:.3s;

    cursor:pointer;

    text-decoration:none;

    color:white;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 10px 30px rgba(0,0,0,.4);

}